.platform-card,
.platform-card3 {
  border: none;
  color: black;
  box-shadow: 1px 1px 50px rgb(107, 60, 22);
  margin-bottom: 200px;
  background-image: url('https://i.imgur.com/JWB2ZGJ.png');
}

.platform-card3 {
  background-image: url('https://i.imgur.com/a9vet7N.png');
}