.hogwarts-card,
.hogwarts-card2,
.hogwarts-card3 {
  color: black;
  box-shadow: 1px 1px 40px rgb(158, 118, 94);
  background-image: url('https://i.imgur.com/nXzRLkU.png');
  margin-bottom: 200px;
  border: none
}

.hogwarts-card2 {
  background-image: url('https://i.imgur.com/vlWAJ5n.png');
}

.hogwarts-card3 {
  background-image: url('https://i.imgur.com/l6xlwLH.png');
}