.wands-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 20px;
  margin: 100px 250px;
}

.wand-cage {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: rgb(4, 112, 58) solid;
  box-shadow: 10px 10px black inset;
  background: rgb(8, 31, 18);
  color: rgb(4, 112, 58);
  padding-top: 15px;
}

.wands {
  height: 160px;
  margin: 80px;
}

.ollivanders-button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(4, 112, 58);
}

.wand-button {
  background-color: rgba(0, 0, 0, 0);
  color: rgb(4, 112, 58);
  border-radius: 2em;
  border: rgb(4, 112, 58) solid 1px
}

.wand-button:hover {
  background-color: rgb(4, 112, 58);
  color: rgb(8, 31, 18);
}

.add-button-ollivanders,
.minus-button-ollivanders,
.button-ollivanders {
  border: rgb(4, 112, 58) solid 1px;
  background: rgb(8, 31, 18);
  color: rgb(4, 112, 58);
  padding: 10px;
  margin: 2px;
  border-radius: .5em
}

.add-button-ollivanders:hover,
.minus-button-ollivanders:hover,
.button-ollivanders:hover {
  border: rgb(4, 112, 58) solid 1px;
  background: rgb(4, 112, 58);
  color: rgb(8, 31, 18)
}

.add-button-ollivanders,
.minus-button-ollivanders {
  width: 40px;
  height: 35px;
}