.pets-container {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 20px;
  margin: 100px 250px;
  color: goldenrod;

}

.pets-cage {
  border: solid rgb(70, 41, 7);
  box-shadow: 10px 10px black inset;
  background: rgb(31, 20, 1);
}

.pets {
  height: 160px;
  margin: 50px
}

.menagerie-button {
  background-color: rgba(0, 0, 0, 0);
  color: goldenrod;
  border-radius: 2em;
  border: goldenrod solid 1px
}

.menagerie-button:hover {
  background-color: goldenrod;
  color: rgb(31, 20, 1)
}


.add-button-menagerie,
.minus-button-menagerie,
.button-menagerie {
  border: rgb(70, 41, 7) solid 1px;
  background: rgb(31, 20, 1);
  color: goldenrod;
  padding: 10px;
  margin: 2px;
  border-radius: .5em
}

.add-button-menagerie:hover,
.minus-button-menagerie:hover,
.button-menagerie:hover {
  border: rgb(70, 41, 7) solid 1px;
  background: goldenrod;
  color: rgb(31, 20, 1)
}

.add-button-menagerie,
.minus-button-menagerie {
  width: 40px;
  height: 35px;
}