.diagon-card,
.diagon-card3,
.diagon-card4,
.diagon-card5,
.diagon-card6 {
  box-shadow: 1px 1px 20px black;
  background-image: url('https://i.imgur.com/27qRBfe.png');
  margin-bottom: 200px;
  /* border: rgb(106, 22, 7) solid 10px; */
  border: outset rgb(160, 50, 31) 10px;
  background-color: rgb(235, 176, 29);
}

.container-card:hover,
.container-card2:hover,
.container-card3:hover {
  border: inset rgb(160, 50, 31) 10px;
  background-color: rgb(170, 126, 15);
}

.diagon-card3 {
  background-image: url('https://i.imgur.com/yXezgme.png');

}

.diagon-card4 {
  background-image: url('https://i.imgur.com/GUvowYS.png');
}

.diagon-card5 {
  background-image: url('https://i.imgur.com/2MvSKJo.png');
}

.diagon-card6 {
  background-image: url('https://i.imgur.com/kshunW5.png');
}