.diagon-card,
.diagon-card3,
.diagon-card4,
.diagon-card5,
.diagon-card6 {
  box-shadow: 1px 1px 20px black;
  background-image: url('https://i.imgur.com/4vLnhvv.png');
  margin-bottom: 200px;
  border: outset rgb(97, 12, 49) 10px;
  background-color: rgb(255, 230, 213);
}

.diagon-card3 {
  background-image: url('https://i.imgur.com/a3jYSVA.png');

}

.diagon-card4 {
  background-image: url('https://i.imgur.com/eFBSIzI.png');
}

.diagon-card5 {
  background-image: url('https://i.imgur.com/cVcVoRv.png');
}

.diagon-card6 {
  background-image: url('https://i.imgur.com/tccGpUE.png');
}

.diagon-card:hover,
.diagon-card3:hover,
.diagon-card4:hover,
.diagon-card5:hover,
.diagon-card6:hover {
  border: inset rgb(97, 12, 49) 10px;
  background-color: rgb(238, 195, 167);
  ;
}