.diagon-card,
.diagon-card3 {
  color: black;
  box-shadow: 1px 1px 50px rgb(248, 127, 127);
  background-image: url('https://i.imgur.com/27qRBfe.png');
  margin-bottom: 200px;
  border: none
}

.diagon-card3 {
  background-image: url('https://i.imgur.com/yXezgme.png');

}