.diary-container {
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  padding: 20px;
  margin: 100px 250px;
  border-radius: 3em;
  box-shadow: 1px 1px 60px rgb(36, 19, 2) inset;
  background: rgb(221, 197, 132);
  height: 500px;
}


.diary-form {
  text-align: center;
  margin-bottom: 400px;
}

.animated-text,
.screaming-text,
.spinning-text {
  color: black;
  font-family: "Waiting for the Sunrise", cursive;
  letter-spacing: .15em;
  margin-top: 30px;
  font-size: xx-large;
  animation:
    fadeIn ease-in 7s;
  opacity: 0;
}

.screaming-text {
  animation: bigger ease-in-out 5s;
}

.spinning-text {
  animation: spin 3s;
  /* opacity: 1; */
}

@keyframes spin {
  from {
    transform: scale(0.1);
    opacity: 0
  }

  to {
    transform: scale(1.5);
    opacity: 1
  }
}


.diary-message {
  font-family: "Waiting for the Sunrise", cursive;
  letter-spacing: .15em;
  color: black;
  margin: 30px;
  width: 1000px;
  overflow-wrap: break-word;
  font-size: xx-large;
  animation:
    fadeOut ease-out 15s;
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes fadeOut {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes bigger {
  from {
    transform: scale(0.1);
    opacity: 0
  }

  to {
    transform: scale(1);
    opacity: 1
  }
}