html {
  overflow-x: hidden;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  overflow-x: hidden;
  justify-content: center;
}

header {
  margin: 15px 0 20px 0;
}

#root {
  display: flex;
}

.Main-Images {
  height: 800px;
  left: 50%;
  margin-top: -400px;
  margin-left: -711px;
  position: fixed;
  top: 50%;
  width: 1422px;
}

.Container-Card-One,
.Container-Card-Two {
  position: fixed;
  top: 50%;
  left: 35%;
  height: 500px;
  margin-top: -250px;
  width: 300px;
  margin-left: -150px;

}

.Container-Card-Two {
  left: 65%;
}

.Quiz-Container {
  display: flex;
  flex-direction: column;
}

.Quiz-Button-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: blue solid;
}

.Quiz-Buttons {
  font-size: medium;
  width: 200px;
  height: 50px;
}